---
title: "Group Assignment 1"
author: "Simon Yu"
date: "2025-10-01"
format: pdf
---
\newpage
\tableofcontents
\listoffigures
\listoftables
\newpage

In [128]:
library(dplyr)

In [129]:
data <- read.csv("compustat_food_bev.csv")

# filter data for Wendy's (WEN)
wen_data <- filter(data, tic == "WEN")

# convert datadate to Date type
wen_data$datadate <- as.Date(wen_data$datadate, format = "%d/%m/%Y")

## Question 1

In [130]:
#1. Add a new column named daily_return
wen_data <- mutate(wen_data, daily_return = (prccd - lag(prccd)) / lag(prccd))
wen_data <- filter(wen_data, !is.na(daily_return))

## Question 2

In [131]:
#2. Add a new column named 10-day momentum indicator
wen_data <- mutate(wen_data, momentum_10 = prccd - lag(prccd, 10))
wen_data <- filter(wen_data, !is.na(momentum_10))

## Question 3

In [132]:
#3. Add a new column named daily_range
wen_data <- mutate(wen_data, daily_range = prchd - prcld)

## Question 4

In [133]:
#4. Add a new column named MFV
wen_data <- mutate(wen_data, 
            mfv = ((prccd - prcld) - (prchd - prccd)) * cshtrd / (prchd - prcld))

In [134]:
# show the table containing only the new 4 metrics columns
wen_data_metrics <- filter(wen_data[ , 
                    c("datadate", "daily_return", "momentum_10", "daily_range", "mfv")])

head(wen_data_metrics, 10)

   datadate   daily_return momentum_10 daily_range mfv
1  2020-09-17  0.006631928 -0.720      0.625        1034602.5
2  2020-09-18 -0.013882353 -0.995      0.660       -3132449.7
3  2020-09-21 -0.014077786 -0.920      0.530        1294344.7
4  2020-09-22  0.019845111 -0.780      0.580        3259250.1
5  2020-09-23 -0.002847651 -1.485      0.640        -824321.2
6  2020-09-24  0.009043313 -0.650      0.790         320093.6
7  2020-09-25  0.006603774 -0.130      0.430         913796.6
8  2020-09-28  0.037956888  0.120      0.695        2315489.9
9  2020-09-29  0.009029345  0.490      0.700        2363936.3
10 2020-09-30 -0.002460850  1.185      0.350       -1546140.5

## Question 5

In [135]:
library(lubridate)

In [136]:
#5. Add a new column named month
wen_data <- mutate(wen_data, month = month(datadate))

## Question 6

In [137]:
#6. Add a new column named year
wen_data <- mutate(wen_data, year = year(datadate))

In [138]:
# show the table containing only the new 2 date columns
wen_data_dates <- filter(wen_data[ , c("datadate", "month", "year")])
head(wen_data_dates, 10)

   datadate   month year
1  2020-09-17 9     2020
2  2020-09-18 9     2020
3  2020-09-21 9     2020
4  2020-09-22 9     2020
5  2020-09-23 9     2020
6  2020-09-24 9     2020
7  2020-09-25 9     2020
8  2020-09-28 9     2020
9  2020-09-29 9     2020
10 2020-09-30 9     2020

## Question 7

In [139]:
#7. Calculate the total trade volume (cshtrd) for June 2023
trade_volume_2023_06 <- filter(wen_data, year == 2023 & month == 6)

sum(trade_volume_2023_06$cshtrd)

[1] 54557454

## Question 8

In [140]:
#8. Calculate the mean of daily return over the period
mean_daily_return <- mean(wen_data$daily_return)
print(mean_daily_return)

[1] 0.0001034355

## Question 9

In [141]:
#9. Find the date for maximum high price over the period
max_high_price <- max(wen_data$prchd)

date_max_high_price <- filter(wen_data, prchd == max_high_price)

print(date_max_high_price$datadate)

[1] "2021-06-08"

## Question 10

In [142]:
#10. Find the date for largest daily return over the period
max_daily_return <- max(wen_data$daily_return)
date_max_daily_return <- filter(wen_data, daily_return == max_daily_return)
print(date_max_daily_return$datadate)

[1] "2021-06-08"